.todo {
  margin: 10px;
  padding: 10px;
  border: 2px solid #5238A6;
  border-radius: 5px;
}
.todo .todoTitle h2 {
  font-size: 30px;
}
.todo .todoDescription p {
  font-size: 20px;
}
.todo .todoDeadline p {
  font-size: 18px;
}
.todo .todoAttachedFiles button {
  margin-top: 1vh;
}
.todo .todoDelete button {
  margin-top: 1vh;
}
.todo .todoChange {
  margin-top: 1vh;
}
.todo .todoChange .todoChangeInputs input {
  display: block;
  margin: 10px;
  padding: 10px;
}
/*# sourceMappingURL=Todo.css.map */