.todo{
  margin: 10px;
  padding: 10px;
  border: 2px solid #5238A6 ;
  border-radius: 5px;
  .todoCheckbox{

  }
  .todoTitle{
    h2{
      font-size: 30px;
    }
  }
  .todoDescription{
    p{
      font-size: 20px;
    }
  }
  .todoDeadline{
    p{
      font-size: 18px;
    }
  }
  .todoAttachedFiles{
    button{
      margin-top: 1vh;
    }
  }
  .todoDelete{
    button{
      margin-top: 1vh;
    }
  }
  .todoChange{
    margin-top: 1vh;
    .todoChangeInputs{
      input{
        display: block;
        margin: 10px;
        padding: 10px;
      }
    }
  }
}
