.addTodoWrapper {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.addTodoWrapper .addTodo {
  min-width: 60vw;
  min-height: 40vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.addTodoWrapper .addTodo input {
  display: block;
  margin-top: 10px;
}
.addTodoWrapper .addTodo .deadline input {
  display: inline;
}
.addTodoWrapper .addTodo button {
  background-color: #DCD2FF;
  margin-top: 10px;
}
/*# sourceMappingURL=AddTodo.css.map */