.addTodoWrapper{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  .addTodo{
    min-width: 60vw;
    min-height: 40vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    input{
      display: block;
      margin-top: 10px;
    }
    .deadline{
      input{
        display: inline;
      }
    }
    button{
      background-color: #DCD2FF;
      margin-top: 10px;
    }
  }
}