@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  box-sizing: border-box;
}
.defaultDatePicker {
  background-color: #DCD2FF;
  padding: 15px;
  color: #020202;
  border: none;
  outline: none;
  border-radius: 5px;
}
::-webkit-calendar-picker-indicator {
  background-color: #ffffff;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}
.defaultBtn {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #fff;
  font-size: 18px;
}
.defaultInput {
  padding: 10px 30vw 10px 5px;
  border-radius: 10px;
  border: 1px solid #5238A6;
  color: #5238A6;
}
#root {
  background-color: #DCD2FF;
  min-height: 100vh;
}
.App {
  padding: 20px;
}
/*# sourceMappingURL=App.css.map */